@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Oswald&family=Montserrat&family=Lato&family=Barlow&family=Sacramento&display=swap");
:root{
    --primary-color: #FD4100;
}

body{
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 0 3rem;
    box-sizing: border-box;
    background: #E2E3EA;
    
}
/* Navbar */
.navbar{
    width: 100%;
    height: 10vh !important;
    background-color: white;
   
    line-height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    
    .nav-logo{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: center;
    
        img{
            width: 8em;
        }
    }
    .nav-content{
        display: flex;
        width: 60%;
        align-items: baseline;
        justify-content: space-around;
        li{
            display: flex;
            flex-direction: column;
            list-style: none;   
            
            align-items: center;
            margin-top: .5em;
            line-height: 1.5em;
            img{
                width: .5em;
                position: relative;
                display: none;
            }        
            a{
                text-decoration: none;
                font-family: 'Barlow';
                color: #4A4A4A;
                transition: all .4s ease;
                font-weight: 500;
                &:hover{
                   
                    color: black;
                   
                }
            }
            a.active{
                color: black;
                font-weight: 600;
            }
            a.active ~ img{
                display:flex;
            }
        }
    }
}
.btn{
    width: fit-content;
    color: black;
    padding: .6rem 1.2rem;
    border-radius: 20px 20px;
    background-color: #D9D9D9;
    font-family: "Poppins";
}
.btn.active{
    background-color: var(--primary-color);
}
/* Main */
.main{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    margin-top: 10vh;
    border-radius: 60px 60px;
    border: 15px solid #fd3f0027;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.199);
    
    .first-section{
        width: 90%;
        display: flex;
       
        justify-content: space-between;
        margin-bottom: 2%;
        .left{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            
          
            h3{
                font-size: 40px;
                line-height: 60px;
                font-family: "Poppins";
                font-weight: bold;
                height: 20%;
                
                letter-spacing: .07cm;
            }
            span{
                font-size: 1.5em;
                height: 30%;
                font-family: 'Poppins';
                font-weight: bold;
                letter-spacing: .05cm;
                line-height: 40px;
            }
            p{
                height: 20%;
                letter-spacing: .03cm;
            }
           
        }
        .right{
            width: 40%;
            display: flex;
            align-items: center;
        }
    }
    .second-section{
        width: 90%;
        margin-bottom: 2%;
        height: fit-content;
        a.btn{
            width: fit-content;
            color: white;
            padding: .6rem 1.2rem;
            border-radius: 20px 20px;
            background-color: var(--primary-color) !important;
        }
    }
    /* Userwork orders styles */
    .third-section{
        width: 90%;
        height: auto;
        display: flex;
      
        border-radius: 15px 15px;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.171);
        .img-container{
            width: 15%;
            height: auto;
            margin-right: 1rem;
            border-radius: 15px 15px;
            img{
                width: 100%;
                object-fit: cover;
                border-radius: 15px 15px;
            }
        }
        .employer{
            width:auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .employer-pic{
                width: 4rem;
                height: 4rem;
                box-sizing: border-box;
                border-radius: 50% 50%;
                border: 1px solid green;
                margin-right: 1rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50% 50%;
                }
            }
            .employer-details{
                width: auto;
                
                display: flex;
                flex-direction: column;

                justify-content: center;
                h5{
                    font-size: 1em;
                }
            }
        }
        .extra{
            width:20%;
          
            display: flex;
            right: 0;
            align-items: center;
            justify-content: space-around;
            position: relative;

            right:0;
            margin-left: auto;
            .status{
                h6{
                    color: #7C7C7C;
                }
                small{
                    color: green;
                }
            }
            .amount{
                h6{
                    color: #7C7C7C;
                }
                small{
                    color: var(--primary-color);
                }
            }
        }
    }

    /* UserPro Create Offer */
    .action-buttons{
        height: 20%;
       
        width: 50%;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
        li{
            list-style: none;
            a.btn{
                &:hover{
                    background-color: var(--primary-color);
                }
            }
        }
    }
    form{
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        padding: 3rem 5rem;
        box-sizing: border-box;
        justify-content: space-around;
        flex-wrap: wrap;
        white-space: nowrap;
        gap: 20px;
        input{
            width: 30%;
            height: fit-content;
            padding: .4rem .8rem;
            border-radius: 10px;
            border: 1px solid #B1B1B1;
        }
        .first{
            width: 90%;
            height: 10%;
            display: flex;
            justify-content: space-between;
          
        }
        .second{
            width: 90%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            textarea{
                width: 60%;
                border-radius: 10px;
                padding:1rem;
            }
            
        }
        .third{
            width: 90%;
            height: 10%;
            .btn{
                padding: .4rem .8rem;
                background-color: #D9D9D9;
            }
        }
        .fourth{
            width: 40%;
            height: 10%;
            display: flex;
            align-items: center;
            align-self: center;
            justify-content: space-around;
          
            button{
                padding: .6rem 2.4rem;
                background: var(--primary-color);
                border: none;
                color: white;
            }
            
        }

    }

    /* Order List */
    .order-list{
        width: 80%;
        height: 90%;
      
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 2rem 1rem;

        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: white
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #D9D9D9;
        }
        
  
        .order{
            width: 90%;
            height: fit-content;
     
            border-radius: 15px 15px;
            box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.178);
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            box-sizing: border-box;
            .left{
                width: 45%;
                h3{
                    font-size: 1.5em;
                    font-weight: bold;
                    font-family: "Poppins";
                }
                p{
                    font-size: .8em;
                    font-family: "Poppins";
                }
            }
            .right{
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .budget{
                    display: flex;
                    flex-direction: column;
                    align-self: flex-end;
                    h2{
                        font-size: 2em;
                        line-height: .8em;
                        font-family: "Lato";
                        font-weight: 600;
                    }
                    small{
                        font-size: .7em;
                    }
                }
                .edit-options{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    white-space: nowrap;
                    width: 100%;
                   
                    .btn{
                        background-color: var(--primary-color);
                        color: white;
                    }
                }
            }
        }
    }
    
}

