{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>User work - Log In</title>
    <link rel="stylesheet" href="{% static 'css/logins/mains.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Oswald&family=Montserrat&family=Lato&family=Barlow&family=Sacramento&display=swap');
        form{
            width: 80% !important;
            
        }
        form input[type="text"],
        form input[type="password"]{
            font-size: 1em;
            width: 80% !important;
        }
        
            
       
    </style>
</head>
<body>
    <div class="forms">
        <section class="left">
            <div class="logo">
            <img src="{% static 'imgs/Group-white.png' %}" alt="">
            </div>
        </section>
        <section class="right">

        </section>
       <div class="form-container">
        <section class="left-content">
          
            <div class="form-outline">
                <img src="{% static 'imgs/Login-illustration.png' %}" alt="" srcset="">
            </div>
        </section>
        <section class="right-content">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <ul class="type">
                <li>
                    <a href="{% url 'accounts:login-userwork' %}" class="active">User Work</a>
                </li>
                <li>
                    <a href="{% url 'accounts:login-userpro' %}">User Pro</a>
                </li>
            </ul>
            <form  method="POST">
                {% csrf_token %}
                <h2 class="title">
                    Login to your account
                </h2>
                <label for="username">Username</label><br>
                <input type="text" name="username" placeholder="Your Username" id=""><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" placeholder="Your Password"><br>
                <input type="checkbox" name="remember_me" id="remember">
                <label for="remember" id="remember">REMEMBER ME</label><br>
                <button type="submit">Sign in</button>
                <ul class="other-info">
                    <li>
                        <p>Don't have an account? <a href="{% url 'accounts:register-userwork' %}">Sign Up!</a></p>
                    </li>
                </ul>
            </form>
        </section>
       </div>
    </div>
</body>
</html>