{% extends 'accounts/userpro-base.html' %}
{% block form %}
    <form method="post" >
        {% csrf_token %}
        <h2 class="title">
            Registration of account
        </h2>
        {{profile_form}}
        
        <label for="password">Password</label><br>
        {{form.new_password1}}<br>
        <label for="confirm password">Confirm Password</label><br>
        {{form.new_password2}}
        
        <button type="submit">Erstelle dein konto jetztr</button>
        
    </form>
{% endblock form  %}