{% extends "search/base-search.html" %}
{% block search-container %}
<div class="search-container">
    <form class="searchbox" action="{% url 'search-post' %}">
        <input type="search" class="form-control" placeholder="Personen/Firmen" name="search" id="">
        <button type="submit"><i class="bx bx-search"></i></button>
    </form>
    <div class="search-actions">
        <a href="#" class="btn active">Company / Person Search</a>
        <a href="{% url 'saved-search-post' %}" class="btn ">Gespeicherte Suche</a>
    </div>
</div>
{% endblock search-container %}
{% block content %}
<div class="first-row">
    {% for offer in offers  %}
    <div class="card">
     <div class="card-img">
         <img src="{{offer.image.url}}" alt="">
     </div>
     <div class="card-content">
         <div class="profile-img">
             <img src="{{offer.user.profile.image.url}}" alt="">
         </div>
         <div class="details">
             <h4>{{offer.user}}</h4>
             <small>{{offer.user.company}}</small>
         </div>
     </div>
     <div class="rating">
         <span><i class="bx bxs-star"></i>5.0</span>
     </div>
     <div class="card-extra">
         <form action="{% url 'orders:favorite_orders' offer.id %}" method="POST">
             {% csrf_token %}
             <input type="hidden" name="order" value="{{offer.id}}">
             <button type="button" class="fav-btn"><i class="bx bxs-heart"></i></button>
         </form>
        
         <div class="pricing">
             <small>Starting at</small>
             <h3 class="price">${{offer.budget}}</h3>
         </div>
     </div>
 </div>
    {% endfor %}

 </div>
{% endblock content %}